@import '../../assets/styles/main';

.navbar {
    width: 100%;
    height: 20vh;
    background-image: url('../../assets/images/desktop/bg-pattern-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
}